.Results{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Results section{
    background: rgb(238, 236, 235);
    border-radius: 7px;
    padding: 5px 10px;
    margin: 20px;
    max-width: 90%;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}
.Results h1{
    display: inline;
    color: rgb(104, 94, 94);
    text-transform: uppercase;
}
