.SearchEngine{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.SearchEngine form{
    text-align: center;
}
.SearchEngine input{
    padding: 5px 6px;
    /* border-radius: 10px; */
}
.search-form{
    width: 70%;
}
.search-button{
    color: black;
    background-color: seagreen;
    width: 25%;
    /* height: 40px;
    width: 40px; */
    border-radius: 3px;
}
.search-button:hover{
    color: seagreen;
    background-color: black;
}
.search{
    font-size: 13px;
    text-align: center;
}


.form-row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* input:focus::placeholder {
    color: transparent;
  } */
